<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>HierarchyList</name>
    <guid>1aa47ea0-493a-41c3-a64f-28e30b2f9cef</guid>
    <version>3.0.1</version>
    <date>2020-05-27</date>
    <description><![CDATA[Use relative database to create hierarchical search.
        Use the following page to generate the database:

        http://www.askia.com/Downloads/dev/adc/hierarchy/CSVConverter.html

        Tested in, major modern browser.

        Dependencies:
          - Database file generated with http://www.askia.com/Downloads/dev/adc/hierarchy/CSVConverter.html]]></description>
    <company>Askia SAS</company>
    <author><![CDATA[Mamadou Sy <mamadou@askia.com>      Jerome Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL>http://dev.askia.com</helpURL>
    <categories>
      <category>Search</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="true" date="false" multiple="false" numeric="false" open="false" requireParentLoop="false" single="false" requireLoopDepth="0" />
      <constraint on="controls" label="true" checkbox="false" listbox="false" radiobutton="false" responseblock="false" textbox="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="fallback" manageLoopDepth="0">
      <description><![CDATA[Javascript is not enable]]></description>
      <condition><![CDATA[

          not(Browser.Support("javascript"))

      ]]></condition>
      <content fileName="NotSupportedBrowser.html" type="html" mode="dynamic" position="placeholder" />
    </output>
    <output id="default" manageLoopDepth="0">
      <description><![CDATA[
        Javascript is enable
      ]]></description>
      <condition><![CDATA[

          browser.support("Javascript")

      ]]></condition>
      <content fileName="hierarchylist.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="controls.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="hierarchylist.js" type="javascript" mode="static" position="foot" />
      <content fileName="includeDatabase.html" type="html" mode="dynamic" position="foot" />
      <content fileName="initializer.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="database" name="Javascript database file path" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Path of the Javascript database file to include in the document.
example: ??ResPath??myfile.js]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="databaseName" name="Database name" type="string" require="true" visible="true">
        <description><![CDATA[Name of the database
example: TOWN]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="values" name="Values to save" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Name of fields separate with coma and surround by quotes or double-quotes.
It indicates the fields to save on the latest level selection.
example: "ID","DEP_ID","DEP","CP","VILLE","REGION_ID","REGION"]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="prefix" name="HTML Ids prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix of all HTML input Ids where the values will be saved.
It may be use if you have several instance of the Hierarchy ADC into the same page.
example: item!!CI(1)!!]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="levelNames" name="Display name of levels" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Label of the dropdown for each levels.
Each level must have a display names even if it's an empty name.
All names must be surrounded by a double-quotes and separate with coma.
example: "Brands", "Models", "Versions"]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="blankOptions" name="Text of first dropdown options" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[Text of the first dropdown options for each levels.
All textes must be surrounded by a double-quotes and separate with coma.
example: "Please select a brands", "Please select a models", "Please select a versions"]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="orientation" name="Orientation" type="number" require="false" visible="true">
        <description><![CDATA[Horizontal or vertical dropdowns orientation]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="0" text="Vertical" />
          <option value="1" text="Horizontal" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="horizontalSpace" name="Horizontal space" type="string" require="false" visible="true">
        <description><![CDATA[Size of the horizontal space between dropdowns (pixel by default)]]></description>
        <value><![CDATA[15px]]></value>
      </property>
      <property xsi:type="standardProperty" id="inputsWidth" name="Width of inputs" type="string" require="false">
        <description><![CDATA[Width of the inputs, you can also specified the unit (pixel by default)]]></description>
        <value><![CDATA[300px]]></value>
      </property>
      <property xsi:type="standardProperty" id="notSupportedBrowser" name="Not supported browser text" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Message to display to the non-supported browser]]></description>
        <value><![CDATA[Sorry this page uses Javascript code, please enable it.]]></value>
      </property>
      <property xsi:type="standardProperty" id="noMatchFound" name="No match found caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Text to display when no match found in the database]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="heightList" name="Height of the list" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Height of the list]]></description>
        <value><![CDATA[250px]]></value>
      </property>
      <property xsi:type="standardProperty" id="listHeightDynamic" name="List height dynamic" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Dynamically change the list height]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="searchCategory" name="Search">
      <property xsi:type="standardProperty" id="useSearch" name="Use search" type="number" require="false" visible="true">
        <description><![CDATA[Add the input search]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="0" text="No search" />
          <option value="1" text="Auto-generate search" />
          <option value="2" text="Custom search input" />
          <option value="3" text="Filtered search" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="filterFirstLevel" name="Filter first level value" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Filter the first level with the corresponding value]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="customSearchId" name="Id of custom search input" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Id of the custom search input
example: search]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="searchLabel" name="Label of search input" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Label of the search input
Support html syntax]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="searchIn" name="Search fields" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Name of fields separate with coma and surround by quotes or double-quotes.
It indicates in which fields to search
example: "CP","VILLE"]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="searchAtBeginning" name="Search at beginning" type="boolean" mode="static" require="false" visible="true">
        <description><![CDATA[Search at the beginning of the field value]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="searchSeparator" name="Separator of words in input search" type="string" mode="static" require="false">
        <description><![CDATA[
          Separator of words in the input search
        ]]></description>
        <value><![CDATA[+]]></value>
      </property>
      <property xsi:type="standardProperty" id="minChars" name="Min characters" type="number" require="false" min="2">
        <description><![CDATA[
          Indicates the minimum number of characters before to perform the search
        ]]></description>
        <value><![CDATA[2]]></value>
      </property>
      <property xsi:type="standardProperty" id="sortFirst" name="Sort matching beginning first" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Sort the results alphabetically matching the beginning of string then alphabetically for contained text]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="searchPhonetic" name="Use phonetic search" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Use phonetic search, if yes this groups are treated equally Aaàáâãä ; Eeèéêë ; IiïîyY ; Ooöô ; Uuùúûü ; Ccç]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
    </category>
    <category id="behaviours" name="Behaviours">
      <property xsi:type="standardProperty" id="firstLevelVisible" name="Display first level items" type="boolean" require="false" visible="true">
        <description><![CDATA[Display first level items]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="autoSelect" name="Auto select when 1 result found" type="boolean" require="false" visible="true">
        <description><![CDATA[Auto select when only one result is found]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="visibility" name="Sub-levels visibility" type="string" require="false">
        <description><![CDATA[Visibility of sub-levels when not activated]]></description>
        <value><![CDATA[visible]]></value>
        <options>
          <option value="visible" text="Visible" />
          <option value="hide" text="Hidden" />
          <option value="disabled" text="Disabled" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="maxResults" name="Max results" type="number" require="false" min="0">
        <description><![CDATA[
          Indicates the maximum number of results to display in the drop-down.
          Set 0 for unlimited results
        ]]></description>
        <value><![CDATA[0]]></value>
      </property>
    </category>
  </properties>
</control>
